# Exclude everything by default
/**/*

# Include all folders
!/**/*/

# But exclude the folders anywhere
node_modules/

# Include specific file extensions
!/**/*.ts
/**/*.d.ts

# Exclude the common folder
/cdk.out
/bundle
